body {
    background-color: #f8f9fe;
}

.navbar-vertical.navbar-expand-xs.fixed-left, .main-content {
    margin-left: 250px;
}

.sidenav.fixed-left, .main-content {
    margin-left: 0 !important;
}

.g-sidenav-pinned, .sidenav.fixed-left, .main-content {
    margin-left: 250px;
}
